* {
    outline: 0;
    margin: 0;
    padding: 0;
}

html,
img {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

div {
    position: absolute;

}

#typo {
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
}

#typo>p {
    text-align: center;
    vertical-align: baseline;
    font-size: 8vw;
    font-weight: 1000;
    color: #ffffff;
    z-index: 2;
    user-select: none;
}

#imgList {
    display: none;
}